@tailwind base;
@tailwind components;
@tailwind utilities;

     @font-face {
         font-family: 'Sirenik';
         font-weight: normal;
         font-style: normal;
         font-display: swap;
         src: url('/Sirenik-Regular.woff2') format('woff2');
     }